doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("https://cdn.jsdelivr.net/npm/handsontable@6.2.2/dist/handsontable.min.css")
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/css/index.css")
    style(type="text/css"): :stylus
      html,body { width: 100%; height: 100% }
      td.head { background: #eee }
      .handsontable td { text-align: center }
      .bg-secondary-g {
        background: linear-gradient(60deg,#111315,#44505a)
      }
  body
    .ldcv.md: .base(style="height:640px"): .inner
      +ldPalettePicker
    .w-100.h-100.d-flex.flex-column
      //- navbar
      .w-100.bg-dark.d-flex.text-light
        .p-3.clickable(ld="palette") 色盤
        .p-3.clickable(ld="random") 隨機資料
      .flex-grow-1.d-flex.bg-dark.pt-2
        //- sidebar
        .h-100.text-center.text-light.bg-secondary-g.position-relative(style="width:5.5em;padding-right:2px")
          .w-100.aspect-ratio.ratio-1by1: .vertical-center: .w-100.text-center
            i.i-doc.text-lg
            .text-sm 資料
          .w-100.aspect-ratio.ratio-1by1: .vertical-center: .w-100.text-center
            i.i-pen.text-lg
            .text-sm 樣式
          a.w-100.aspect-ratio.ratio-1by1.clickable.d-block.text-white(ld="download")
            .vertical-center: .w-100.text-center
              i.i-dart-down.text-lg
              .text-sm 下載
        //- function panel
        .flex-grow-1.bg-light.shadow.z-float.position-relative.w-50(
        style="margin-top:-.5em;border-radius:.25em .25em 0 0;overflow:hidden")
          .w-100.h-100.position-absolute.vertical-center.invisible: .w-100.text-center
            h3.mb-0 Config Panel
            .text-muted.text-sm under construction
          .w-100.h-100.position-absolute
            .d-flex.flex-column.h-100
              //- function header
              .p-2.border-bottom
                ul.nav.nav-pills
                  li.nav-item: a.nav-link.active(href="#",ld="toggle",data-name="admin") 行政區域
                  li.nav-item: a.nav-link(href="#",ld="toggle",data-name="latlng") 經緯度
              //- function body
              .flex-grow-1.position-relative.w-100.h-100
                #sheet.w-100.h-100.position-absolute(style="overflow:scroll")

        //- preview panel
        .flex-grow-1.h-100.bg-secondary.position-relative.w-50
          +scope("popup")#popup.shadow-sm.border.rounded.p-2.position-absolute.bg-white.d-none.z-float(
          style="pointer-event:none")
            .text-sm.text-muted(ld="name") 地名
            div: b(ld="value") 數值
          .m-auto.position-absolute.rounded.border.shadow.bg-white(
          style="top:0;left:0;bottom:0;right:0;width:80%;height:80%")
            #preview.w-100.h-100


    +script("https://cdn.jsdelivr.net/npm/handsontable@6.2.2/dist/handsontable.min.js")
    +script("/assets/lib/ldui/ldui.min.js")
    +script("https://d3js.org/d3.v4.js")
    +script("https://d3js.org/topojson.v2.min.js")
    +script("https://d3js.org/d3-color.v1.min.js")
    +script("https://d3js.org/d3-interpolate.v1.min.js")
    +script("https://d3js.org/d3-scale-chromatic.v1.min.js")

    +script("/assets/lib/pdmaptw/pdmaptw.min.js")
    +script("/js/editor/index.js")
