doctype html
html
  head
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    style: :stylus
  body.p-4
    .row.mb-4(style="min-height:500px")
      .col-md
        .aspect-ratio.w-100(style="padding-top:120%"): svg.border.bg-light.shadow.w-100.h-100: g
        .text-center
          div Path Count: #[span(ld="count",data-name="county")]
          div(ld="elapsed",data-name="county")
          div(ld="size",data-name="county")
      .col-md
        .aspect-ratio.w-100(style="padding-top:120%"): svg.border.bg-light.shadow.w-100.h-100: g
        .text-center
          div Path Count: #[span(ld="count",data-name="town")]
          div(ld="elapsed",data-name="town")
          div(ld="size",data-name="town")
      .col-md
        .aspect-ratio.w-100(style="padding-top:120%"): svg.border.bg-light.shadow.w-100.h-100: g
        .text-center
          div Path Count: #[span(ld="count",data-name="village")]
          div(ld="elapsed",data-name="village")
          div(ld="size",data-name="village")
    h3.text-center(ld="info") n/a
    +script([
      {name: "d3", version: "main", path: "dist/d3.min.js"},
      {name: "d3-color", version: "main", path: "dist/d3-color.min.js"},
      {name: "d3-interpolate", version: "main", path: "dist/d3-interpolate.min.js"},
      {name: "d3-scale-chromatic", version: "main", path: "dist/d3-scale-chromatic.min.js"},
      {name: "d3-geo", version: "main", path: "dist/d3-geo.min.js"},
      {name: "d3-geo-projection", version: "main", path: "dist/d3-geo-projection.min.js"},
      {name: "topojson", version: "main", path: "dist/topojson.min.js"},
      {name: "@loadingio/debounce.js", version: "main"},
      {name: "@loadingio/ldquery", version: "main"},
      {name: "ldview", version: "main"}
    ])

    //- old d3 4.13.0
      +script([
        {name: "d3", version: "4.13.0", path: "build/d3.min.js"},
        {name: "d3-color", version: "1.4.1", path: "dist/d3-color.min.js"},
        {name: "d3-interpolate", version: "1.4.0", path: "dist/d3-interpolate.min.js"},
        {name: "d3-scale-chromatic", version: "1.5.0", path: "dist/d3-scale-chromatic.min.js"},
        {name: "d3-geo", version: "1.12.1", path: "dist/d3-geo.min.js"},
        {name: "d3-geo-projection", version: "main", path: "dist/d3-geo-projection.min.js"},
        {name: "topojson", version: "main", path: "dist/topojson.min.js"},
        {name: "@loadingio/debounce.js", version: "main"},
        {name: "@loadingio/ldquery", version: "main"},
        {name: "ldview", version: "main"}
      ])

    +script("assets/lib/pdmaptw/dev/index.min.js")
    +script("assets/lib/pdmaptw/dev/county.map.js")
    +script("assets/lib/pdmaptw/dev/town.map.js")
    +script("assets/lib/pdmaptw/dev/village.map.js")
    +script("js/data.js")

    script(type="module"): include:lsc index.ls
